#about-us {
  background-image: url('./../img/aboutus_bg.png');
  background-repeat: no-repeat;
  background-position: center right;
}
#our-values {
  background: url("./../img/logo_shade_center.png") no-repeat, linear-gradient(to right, #504F4F, rgba(103, 103, 103, 0.67));
  background-size: contain;
  background-position: center;
}

.about-us__content {
  .about-us__title {
    margin-bottom: 1rem;
  }
  p {
    font-weight: 400;
    color: #857875;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 400px;
    background: url('./../img/benefits.png');
    border-radius: 20px;
    background-size: cover;
    display: none;
    @media(min-width: 991px){
      display: block;
    }
  }
}

.mvo-card {
  text-align: center;
  height: 100%;
  transition: all .4s;
  user-select: none;

  &__content {
    font-weight: 400;
    color: #857875;
    p {
      font-weight: 400;
    }
  }
  &__content i {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .card-body {
    padding: 1.5rem;
  }

  &:hover {
    .mvo-card__title, i {
      color: var(--accent);
    }
    transform: translateY(-1rem);
  }
}

.members-carousel {
  .card {
    margin-bottom: 1rem;
    transition: all .4s;
    &:hover {
      box-shadow: 0 4px 8px 1px rgba(0,0,0,.15);
      img {
        
      }
    }
  }
}

.team-member-card {
  &__picture {
    max-height: 300px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
      transition: all .4s;
    }
  }
  &__name {
    color: #333;
  }
  &__title {
    color: #878585;
  }
}

.team-member-card:hover {
  box-shadow: 0 4px 8px 1px rgba(0,0,0,.15);
  .team-member-card__picture img {
    transform: scale(1.15);
  }
  .team-member-card__name {
    color: var(--accent);
  }
}